<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>地图抽象层.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66A5E9C11C45EC34004D3D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A5E9DA1C45EC34004D3D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A5E9E51C45EC34004D3D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
